@mixin default {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin layout-block-1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

@mixin layout-block-2 {
    width: 1140px;
    display: flex;
    align-items: center;
}

$sie-color-1: #1c1c1c;
$sie-color-2: #0282f9;


